<!DOCTYPE html>
<html  lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jolc movie</title>
    <meta name="description" content="This is our group project for DSA5101">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'picture/favicon.png' %}">
    <!-- Place favicon.ico in the root directory --><!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body><!-- preloader -->
<div id="preloader">
    <div id="loading-center">
        <div id="loading-center-absolute"><img src="{% static 'picture/preloader.svg' %}" alt="loading"></div>
    </div>
</div><!-- preloader-end --><!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html"><i class="fas fa-angle-up"></i></button>
<!-- Scroll-top-end--><!-- header-area -->
<header>
    <div id="sticky-header" class="menu-area transparent-header">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="menu-wrap">
                        <nav class="menu-nav show">
                            <div class="logo"><a href="/about-us"><img src="{% static 'picture/logo.png' %}" alt="Logo"></a>
                            </div>
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    <li class="menu-item-has-children">
                                        <a href="/about-us">About Us</a>
                                    </li>
                                    <li class="active menu-item-has-children"><a href="/about-us/movies">Movie</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-action d-none d-md-block">
                                <ul>
                                    <li class="header-lang">
                                        <form action="#">
                                            <div class="icon"><i class="flaticon-globe"></i></div>
                                            <select id="lang-dropdown">
                                                <option value="">En</option>
                                            </select></form>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="mobile-menu">
                        <div class="close-btn"><i class="fas fa-times"></i></div>
                        <nav class="menu-box">
                            <div class="nav-logo"><a href="/about_us"><img src="{% static 'picture/logo.png' %}"></a>
                            </div>
                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                        </nav>
                    </div>
                    <div class="menu-backdrop"></div>

                </div>
            </div>
        </div>
    </div>
</header><!-- header-area-end --><!-- main-area -->

<main><!-- breadcrumb-area -->
    <section class="banner-area banner-bg" data-background="{% static 'picture/banner_bg01.jpg' %}">
        <div class="container custom-container">
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <div class="banner-content"><h6 class="sub-title wow fadeInUp" data-wow-delay=".2s"
                                                    data-wow-duration="1.8s">Jolc</h6>
                        <h2 class="title wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1.8s">Welcome!<br/>New <span>Movies</span> in SG Theaters.
                            Explore More.</h2>
                        <div class="banner-meta wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1.8s">
                            <ul>
                                <li class="category">Thanks for your support!</li>
                            </ul>
                        </div>
                        <a href="https://www.youtube.com/watch?v=jhNJdNnh8QQ"
                           class="banner-btn btn popup-video wow fadeInUp" data-wow-delay=".8s"
                           data-wow-duration="1.8s"><i class="fas fa-play"></i>New Trailer</a></div>
                </div>
            </div>
        </div>
    </section><!-- banner-area-end --><!-- up-coming-movie-area -->
    <section class="movie-area movie-bg" data-background="{% static 'picture/movie_bg.jpg' %}">
        <div class="container">
            <div class="row align-items-end mb-60">
                <div class="col-lg-6">
                    <div class="section-title text-center text-lg-left"><span class="sub-title">Movies Overview</span>
                        <h2 class="title">New Release Movies</h2></div>
                </div>
                <div class="col-lg-6">
                    <div class="movie-page-meta">
                        <div class="tr-movie-menu-active text-center">
                            <button class="active" data-filter="*">Now Showing</button>
                            <button class="" data-filter=".cat-one">Coming Soon</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tr-movie-active">
                {% for movie in Movies %}
                <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-two">
                    <div class="movie-item movie-item-three mb-50">
                        <div class="movie-poster"><img src='{{movie.poster_url}}' width="210px" alt="">
                            <ul class="overlay-btn">
                                <li><a href="{{movie.book_url}}" class="btn">Details</a></li>
                            </ul>
                        </div>
                        <div class="movie-content">
                            <div class="top"><h5 class="title"><a href="{{movie.book_url}}">{{movie.name}}</a></h5></div>
                            <div class="bottom">
                                <ul>
                                    <li><span class="quality">{{movie.grade}}</span></li>
                                    <li><span class="duration"><i class="far fa-clock"></i>{{movie.duration}}</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for cmovie in ComingMovies %}
                <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one">
                    <div class="movie-item movie-item-three mb-50">
                        <div class="movie-poster"><img src='{{cmovie.poster_url}}' width="210px" alt="">
                            <ul class="overlay-btn">
                                <li><a href="{{cmovie.book_url}}" class="btn">Details</a></li>
                            </ul>
                        </div>
                        <div class="movie-content">
                            <div class="top"><h5 class="title"><a href="{{cmovie.book_url}}">{{cmovie.name}}</a></h5></div>
                            <div class="bottom">
                                <ul>
                                    <li><span class="quality">{{cmovie.grade}}</span></li>
                                    <li><span class="duration"><i class="far fa-clock"></i>{{cmovie.duration}}</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section><!-- movie-area-end --><!-- newsletter-area -->
    <section class="newsletter-area newsletter-bg" data-background="{% static 'picture/newsletter_bg.jpg' %}">
        <div class="container">
            <div class="newsletter-inner-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="newsletter-content"><h4>Thanks for your support!</h4>
                            <p>Please contact us if you have any problems or suggestions.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- newsletter-area-end --></main><!-- main-area-end --><!-- footer-area -->
<footer>
    <div class="footer-top-wrap">
        <div class="container">
            <div class="footer-menu-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="footer-logo"><a href="/about-us"><img src="{% static 'picture/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="footer-menu">
                            <nav>
                                <ul class="navigation">
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/about-us/movies">Movie</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright-text"><p>Copyright &copy;2022. All Rights Reserved By NUS DSA5101 Group 8</p></div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- footer-area-end --><!-- JS here -->
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.odometer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>